html {
  margin: 25px;
  background-color: rgb(200,200,240);
  font-family: arial, sans-serif;
  font-size: 18px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 35px;
  font-weight: normal;
  color: rgb(10,10,60);
  margin-top: 5px;
}


/* Applies to all <h2>...</h2> elements. */
h2 {
  font-size: 25px;
  font-weight: normal;
  margin-top: 5px;
  color: rgb(60,10,60);
}

div.polaroid {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  max-width: 1000px;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.container {
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
}

.column {
  float: left;
  width: 31%;
  margin: 7px;
}

div.row {
  min-width: 600px;
  background-color: rgb(240, 240, 250);
  border-color: rgb(240, 240, 250);;
  border-width: thick;
  border-radius: 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

